<h1 class="text-3xl font-bold font-montserrat ml-5">Todos Los Productos {{ paginationService.currentPage() }}</h1>
<h2 class="text-xl mb-5 ml-5">Para todos los gustos</h2>


<app-pagination
  [pages] = "productResource.value()?.pages ?? 0"
  [currentPage] = "paginationService.currentPage()"
/>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3 ml-5">

@for (product of productResource.value()?.products; track $index) {
  <product-card [product]="product" />
}

@empty { <p>No hay Productos...</p> }

</div>

<app-pagination
  [pages] = "productResource.value()?.pages ?? 0"
  [currentPage] = "paginationService.currentPage()"
/>
